.btn-menu{
    padding: 1.5em;
    position: relative;
    cursor: pointer;
}

.btnmenu-title{
    font-weight: 600;
    font-size: 2em;
    color: white;
}

.btnmenu-karyawan{
    margin-top: 1.125em;
    margin-bottom: 2.5em;
    color: white;
    font-weight: 400;
}

.btnmenu-image{
    position: absolute;
    bottom: 0.750em;
    right: 0.750em;
}