.sidebar{
    background-color: white;
    padding: 2.5em 1em;
    width: 16.813em;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.side-logo{
    color: #438DFC;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 1.938em;
    border-bottom: 1px solid #ccc;
    padding-left: 0.5em;
}

.side-link{
    display: flex;
    gap: 0.5em;
    text-decoration: none;
    margin-top: 1em;
    transition-duration: 0.5s;
    border-radius: 10px;;
    padding: 0.5em;
}

.side-link.active{
    background-color: #F8F9FD;
}

.side-link p{
    color: #8D95A0;
    font-weight: 500;
}

.wrap-main{
    height: 100vh;
    max-height: 100vh;
}

.wrap-content{
    padding: 2.5em 1.25em;
    overflow-y: hidden;
}