table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #8d95a03a;
    font-weight: 500;

}

tr{
    background-color: white;
    text-align: center;
}

th,td{
    border-right: 1px solid #ccc;
    padding: 1.25em 0;
}

th:last-child,td:last-child{
    border: 0;
}